<%- include('layouts/header'); -%>
<div class="container">
    <h1 class="content-indent"><%= title %></h1>
</div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Post code</th>
            <th scope="col">Address</th>
            <th scope="col">E-mail</th>
            <th scope="col">Phone</th>
            <th scope="col">PSHT</th>
        </tr>
    </thead>
    <tbody>
        <% members.forEach((member) => {%>
        <tr>
            <td>
                <a href="member/<%= member.id %>">
                    <%= member.id.toUpperCase() %>
                </a>
            </td>
            <td><%= member.name.split(/\s+/).map(word => word[0].toUpperCase() + word.substring(1)).join(' ') %></td>
            <td><%= member.birthday %></td>
            <td><%= (member.pСode) ? member.pСode : '-' %></td>
            <td><%= (member.address) ? member.address[0].toUpperCase() + member.address.slice(1) : '-' %></td>
            <td><%= (member.mail) ? member.mail : '-' %></td>
            <td><%= (member.phone) ? member.phone : '-' %></td>
            <td><%= (member.psht) ? member.psht : '-' %></td>
        </tr>
        <%  }) %>
    </tbody>
</table>
<%- include('layouts/footer'); -%>